@model IEnumerable<Fidelitas.NoSql.PrimerEjemplo.Collections.Animales>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Insertar")
</p>
<table class="table">
    <tr>
        <th>Acciones</th>
        <th>Tratamientos</th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dueno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
        <td>
            @Html.ActionLink("Ver Tratamientos", "LosTratamientos", new {  id=item._id.ToString()  }) |
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
            @Html.HiddenFor(modelItem => item.tratamiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dueno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
    </tr>
}

</table>
